{
  "CN": "{{ item.name }}",
  "key": {
    "algo": "rsa",
    "size": 4096
  },
  "names": [
    {
      "C": "ZA",
      "L": "Johannesburg",
      "O": "{{ item.org }}",
      "OU": "Devops",
      "ST": "Gauteng"
    }
  ]
}