[Unit]
Description=etcd
Documentation=https://github.com/coreos

[Service]
ExecStart=/usr/local/bin/etcd \
  --name {{ inventory_hostname }} \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ PRIVATE_IPS[inventory_hostname] }}:2380 \
  --listen-peer-urls https://{{ PRIVATE_IPS[inventory_hostname] }}:2380 \
  --listen-client-urls https://{{ PRIVATE_IPS[inventory_hostname] }}:2379,https://127.0.0.1:2379 \
  --advertise-client-urls https://{{ PRIVATE_IPS[inventory_hostname] }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {% for etcd in ETCD_SERVERS %}{{ etcd.NAME }}=https://{{ etcd.IP }}:2380{% if not loop.last %},{% endif %}{% endfor %} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
