[Unit]
Description=flanneld
After=etcd.service

[Install]
WantedBy=multi-user.target

[Service]
ExecStart=/usr/local/bin/flanneld \
    --ip-masq=true \
    --etcd-certfile="{{ K8S_PATH.CERT }}/api/kubernetes.pem" \
    --etcd-keyfile="{{ K8S_PATH.CERT }}/api/kubernetes-key.pem" \
    --etcd-cafile="{{ K8S_PATH.CERT }}/ca/ca.pem" \
    --etcd-endpoints={% for etcd in ETCD_SERVERS %}https://{{ etcd.IP }}:2379{% if not loop.last %},{% endif %}{% endfor %} \
    --etcd-prefix=/coreos.com/network \
    --subnet-file=/run/flannel/subnet.env

Restart=always
RestartSec=10s
LimitNOFILE=65535