# basic configuration
config setup
  charondebug="all"
  uniqueids=yes
  strictcrlpolicy=no
{% set local_server={} %}

{% for server in IPSEC_SERVERS %}
{% if public_ip.stdout == server.IP %}
{% set _ = local_server.update(server) %}
{% endif%}
{% endfor %}

{% for server in IPSEC_SERVERS %}
{% if public_ip.stdout != server.IP %}
# Connection to {{server.LOCATION}}
conn {{local_server.LOCATION}}-to-{{server.LOCATION}}
  authby=secret
  left={{local_server.PRIVATE_IP}}
  leftid={{local_server.IP}}
  leftsubnet={{local_server.SUBNET}}
  right={{server.IP}}
  rightsubnet={{server.SUBNET}}
  ike=aes256-sha2_256-modp1024!
  esp=aes256-sha2_256!
  keyingtries=0
  ikelifetime=1h
  lifetime=8h
  dpddelay=30
  dpdtimeout=120
  dpdaction=restart
  auto=start

{% endif%}
{% endfor %}