[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=containerd.service
Requires=containerd.service
After=kube-apiserver.service
Requires=kube-apiserver.service

[Service]
EnvironmentFile=/run/flannel/subnet.env

ExecStart=/usr/local/bin/kubelet \
  --config=/var/lib/kubelet/kubelet-config.yaml \
  --container-runtime=remote \
  --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock \
  --image-pull-progress-deadline=2m \
  --kubeconfig="/var/lib/kubelet/{{ inventory_hostname }}.kubeconfig" \
  --pod-cidr=$FLANNEL_SUBNET \
  --network-plugin=cni \
  --register-node=true \
  --v=2
Restart=on-failure
RestartSec=5
LimitNOFILE=10485760
LimitNPROC=infinity
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
