# basic configuration
config setup
  charondebug="all"
  uniqueids=yes
  strictcrlpolicy=no
{% set local_server={} %}

{% for server in ipsec_servers %}
{% if public_ip.stdout == server.ip %}
{% set _ = local_server.update(server) %}
{% endif%}
{% endfor %}

{% for server in ipsec_servers %}
{% if public_ip.stdout != server.ip %}
# Connection to {{server.location}}
conn {{local_server.location}}-to-{{server.location}}
  authby=secret
  left={{local_server.internalIp}}
  leftid={{local_server.ip}}
  leftsubnet={{local_server.subnet}}
  right={{server.ip}}
  rightsubnet={{server.subnet}}
  ike=aes256-sha2_256-modp1024!
  esp=aes256-sha2_256!
  keyingtries=0
  ikelifetime=1h
  lifetime=8h
  dpddelay=30
  dpdtimeout=120
  dpdaction=restart
  auto=start

{% endif%}
{% endfor %}
