ETCD_DATA_DIR={{ etcd_data_dir }}
ETCD_ADVERTISE_CLIENT_URLS=https://{{ etcd_ip }}:{{ etcd_client_port }}
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ etcd_ip }}:{{ etcd_peer_port }}
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_LISTEN_CLIENT_URLS=https://{{ etcd_ip }}:{{ etcd_client_port }}
ETCD_ELECTION_TIMEOUT=5000
ETCD_HEARTBEAT_INTERVAL=250
ETCD_LISTEN_PEER_URLS=https://{{ etcd_ip }}:{{ etcd_peer_port }}
ETCD_NAME={{ master_servers[etcd_ip].etcdName }}
ETCD_PROXY=off
{% set initial_cluster = [] %}
{% for ip in master_server_ips %}
{% set _ = initial_cluster.append(master_servers[ip].etcdName + '=https://' + ip + ':' + etcd_peer_port) %}
{% endfor %} 
ETCD_INITIAL_CLUSTER={{ initial_cluster|join(',') }}

# TLS settings
ETCD_TRUSTED_CA_FILE={{ etcd_ssl_dir }}/ca.pem
ETCD_CERT_FILE={{ etcd_ssl_dir }}/etcd.pem
ETCD_KEY_FILE={{ etcd_ssl_dir }}/etcd-key.pem
ETCD_PEER_TRUSTED_CA_FILE={{ etcd_ssl_dir }}/ca.pem
ETCD_PEER_CERT_FILE={{ etcd_ssl_dir }}/etcd.pem
ETCD_PEER_KEY_FILE={{ etcd_ssl_dir }}/etcd-key.pem
ETCD_PEER_CLIENT_CERT_AUTH=true
